#boas-vindas{
    padding: 100px 0;

    .saudacoes{
        display: inline-block;
        background-color: #004C93;
        border-radius: 30px;
        padding: 10px 15px;
        color: #FFF;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
        margin-bottom: 40px;
    }

    p{
        font-size: 18px;
        line-height: 18px;
    }
}