#boas-vindas,
#meus__dados,
#alterar-senha,
#boas-vindas,
#listar__categorias,
#exibir__categorias,
#editar__categorias,
#cadastrar__categoria,
#produtos-area-restrita,
#relatorios__vendedor{
    padding: 100px;
    
    .error{
        color: red;
    }

    .title__box{
        text-align: center;
        color: #004C93;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 30px;
    }

    .style__espacamento{
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 50px;
    }

    .btn__voltar{
        i{
            margin-right: 5px;
        }
    }

    .lim__estilo{
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 50px;

        .btn__salvar{
            min-width: 200px;
            background-color: #4F0074;
            color: #FFF;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 18px;
            line-height: 20px;
            text-decoration: none;
            border-radius: 30px;
            border: none;
            padding: 15px;
        }
    }
}

#listar__categorias,
#exibir__categorias,
#produtos-area-restrita{
    .posiciona__btn{
        display: flex;
        align-items: center;
        justify-content: end;

        .btn__adicionar{
            background-color: #004C93;
            color: #FFF;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 18px;
            line-height: 20px;
            text-decoration: none;
            border-radius: 30px;
            padding: 15px;
        }
    }

    .style__dados{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 18px;
        line-height: 18px;

        .item__dado{
            margin-bottom: 10px;
        }
    }

    .table__categorias{
        margin-top: 50px;
        
        .listagem__categorias{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;
            border-bottom: 1px solid rgba(#000,.5);
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 16px;
            line-height: 16px;

            &:first-child{
                padding-top: 0;
            }

            &:last-child{
                border-bottom: none;
            }

            .btn__edicao{
                display: flex;
                align-items: center;
                justify-content: center;

                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #000;
                    color: #FFF;
                    text-decoration: none;

                    &:last-child{
                        margin-left: 10px;
                    }

                    &:hover{
                        background-color: #004C93;
                    }
                }
            }
        }
    }
}

#boas-vindas{
    padding: 100px 0;

    .saudacoes{
        display: inline-block;
        background-color: #004C93;
        border-radius: 30px;
        padding: 10px 15px;
        color: #FFF;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
        margin-bottom: 40px;
    }

    p{
        font-size: 18px;
        line-height: 18px;
    }
}

#produtos-cadastrados{
    html {
        font-family: 'Arial';
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th {
        background-color: #337ab7;
        color: #fff;
        font-weight: bold;
        text-align: left;
        padding: 8px;
    }
    td {
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #cce0ff;
    }
    tr:nth-child(odd) {
        background-color: #b3d1ff;
    }
}

#relatorios__vendedor{
    .title__box{
        text-align: start;
        margin-bottom: 0;
    }

    .dropdown{
        display: flex;
        align-items: center;
        justify-content: end;

        .btn__drop__opcoes{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 250px;
            padding: 10px 20px;
            background-color: #006ACB;
            border-radius: 30px;
            color: #FFF;
            border: none;
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

        .dropdown-menu{
            background-color: #57AEFF;
            border: none;
            border-radius: 0;
            padding: 0;
            transform: translate3d(270px, 44px, 0px)!important;

            .dropdown-item{
                color: #FFF;

                &:hover{
                    background-color: #004C93;
                }
            }
        }
    }
}

#meus__dados{
    .campo__input{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: 60px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        input,
        textarea{
            border: none;
        }

    }

    .campo_titulo2{
        color:#006acb
    }

    .style__campo{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;
        color: #000;

        &::placeholder{
            font-family: 'Plus Jakarta Sans';
            font-size: 15px;
            line-height: 15px;
            color: #006acb;
        }

        &:focus{
            outline: none;
        }
    }

    .cliente__group{
        margin-top: 30px;
    }

    .style__letras{
        font-family: 'Plus Jakarta Sans';
        font-size: 20px;
        line-height: 20px;
        color: #006acb;
      }

    .sub__select{
        border: 1px solid #006acb;
        background-color: #FFF;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;
        box-sizing: border-box;
        color: #006acb;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 15px;
        line-height: 15px;
    
        &:focus{
          outline: none;
        }
    
        &::-ms-expand{
          display: none;
        }
    
        option{
          background-color: #FFF;
          font-family: 'Plus Jakarta Sans', sans-serif;
          font-size: 14px;
          color: #000000;
        }
      }
}