#boas-vindas,
#meus_dados,
#alterar-senha,
#boas-vindas,
#listar_categorias,
#exibir__categorias,
#editar_categorias,
#cadastrar_categoria{
    padding: 100px;
}

#cadastrar_nova_categoria{
    padding: 100px;

    .campo__input{
        margin-bottom: 10px;
    }

    .centro {
        text-align: center;
        margin-left: 80px;
        margin-right: 80px;
    }

    .button {
        background-color: #4f0074;
        border: 1px solid #4f0074;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: auto;
        width: auto;
        min-width: 150px;
        padding: 10px 20px;
        font-size: 22px;
        line-height: 22px;
    }

    .lim__estilo{
        padding: 50px;
    }

    .campo_titulo2{
        color:#006acb
    }

    .style__campo{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;
        color: #000;

        &::placeholder{
            font-family: 'Plus Jakarta Sans';
            font-size: 15px;
            line-height: 15px;
            color: #006acb;
        }

        &:focus{
            outline: none;
        }
    }

    .sub__select{
        border: 1px solid #006acb;
        background-color: #FFF;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;
        box-sizing: border-box;
        color: #006acb;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 15px;
        line-height: 15px;
    
        &:focus{
          outline: none;
        }
    
        &::-ms-expand{
          display: none;
        }
    
        option{
          background-color: #FFF;
          font-family: 'Plus Jakarta Sans', sans-serif;
          font-size: 14px;
          color: #000000;
        }
    }
}

#meus_dados{
    .button {
        background-color: #4f0074;
        border: 1px solid #4f0074;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: auto;
        width: auto;
        padding: 10px 20px;
    }

    .lim__estilo{
        padding: 50px;
    }

    .centro {
        text-align: center;
    }
    .campo__input{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: 60px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        input,
        textarea{
            border: none;
        }

    }

    .campo_titulo2{
        color:#006acb
    }
    .style__campo{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;

        &::placeholder{
            font-family: 'Plus Jakarta Sans';
            font-size: 15px;
            line-height: 15px;
            color: #006acb;
        }

        &:focus{
            outline: none;
        }
    }
}

#boas-vindas{
    padding: 100px 0;

    .saudacoes{
        display: inline-block;
        background-color: #004C93;
        border-radius: 30px;
        padding: 10px 15px;
        color: #FFF;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
        margin-bottom: 40px;
    }

    p{
        font-size: 18px;
        line-height: 18px;
    }
}

#alterar-senha{
    padding: 100px;

    .centro_inicio{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        padding: 50px;
        border-radius: 30px;
    }

    .centro {
        text-align: center;
    }

    .campo__input{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: 60px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        input,
        textarea{
            border: none;
        }
    }

    .button {
        background-color: #4f0074;
        border: 1px solid #4f0074;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: auto;
        width: auto;
        padding: 10px 20px;
        }

    .lim__estilo{
        padding: 50px;
    }
    
    .campo_titulo2{
        color:#006acb
    }

    .style__campo{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;

        &::placeholder{
            font-family: 'Plus Jakarta Sans';
            font-size: 15px;
            line-height: 15px;
            color: #006acb;
        }

        &:focus{
            outline: none;
        }
    }
}

#cadastrar_novo_produto{

    .button {
        background-color: #4f0074;
        border: 1px solid #4f0074;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: auto;
        width: auto;
        padding: 10px 20px;
    }

    .lim__estilo{
        padding: 50px;
    }

    .centro {
        text-align: center;
    }

    .campo__input{
        margin-bottom: 10px;

    }

    .campo_titulo2{
        color:#006acb
    }
    .style__campo{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;

        &::placeholder{
            font-family: 'Plus Jakarta Sans';
            font-size: 15px;
            line-height: 15px;
            color: #006acb;
        }

        &:focus{
            outline: none;
        }
    }

    .sub__select{
        border: 1px solid #006acb;
        background-color: #FFF;
        border-radius: 30px;
        color: white;
        display: block;
        width: 100%;
        height: auto;
        padding: 15px 25px;
        box-sizing: border-box;
        color: #006acb;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 15px;
        line-height: 15px;
    
        &:focus{
          outline: none;
        }
    
        &::-ms-expand{
          display: none;
        }
    
        option{
          background-color: #FFF;
          font-family: 'Plus Jakarta Sans', sans-serif;
          font-size: 14px;
          color: #000000;
        }
      }
}