#cadastrar_nova_categoria{
    padding: 100px;

    .campo__input{
        border: 1px solid #006acb;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: 60px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        input,
        textarea{
            border: none;
        }

    }

    .centro {
        text-align: center;
    }

    .button {
        background-color: #4f0074;
        border: 1px solid #4f0074;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: auto;
        width: auto;
        padding: 10px 20px;
    }

    .lim__estilo{
        padding: 50px;
    }


}