#carrinho{
    .box__carrinho{
        .carrinho__conteudo{
          max-width: 100%;
          width: 100%;
          margin-right: auto;
          margin-left: auto;
          border: 2px solid #4F0074;
          border-top: none;
    
          .carrinho__header{
            display: flex;
            font-size: 13px;
            line-height: 18px;
            color: #fff;
            background-color: #4F0074;
            font-family: MontserratBold;
            padding: 12px 30px;
    
            .carrinho__produto{
              @include media-breakpoint-down(md){
                text-align: center;
                margin-right: auto;
                margin-left: auto;
              }
    
              @include media-breakpoint-up(lg){
                width: 52%;
                text-align: start;
              }
            }
    
            .carrinho__quantidade{
              text-align: center;
    
              @include media-breakpoint-up(lg) {
                width: 16%;
              }
    
              @include media-breakpoint-down(md){
                display: none;
              }
            }
          }
    
          .carrinho__listagem{
            padding: 25px 30px;
    
            .carrinho__item{
              display: flex;
              align-items: center;
              margin-bottom: 20px;
    
              @include media-breakpoint-down(md){
                position: relative;
                flex-direction: column;
                padding-bottom: 20px;
    
                &:before{
                  content: '';
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  height: 2px;
                  background: rgb(255,103,0);
                  background: linear-gradient(90deg, rgba(255,103,0,0) 0%, rgba(255,103,0,1) 50%, rgba(255,103,0,0) 100%);
                }
    
                &:last-child{
                  &:before{
                    opacity: 0;
                  }
                }
              }
    
              .carrinho__produto{
                @include media-breakpoint-up(lg) {
                  width: 52%;
                }
    
                .carrinho__produto__card{
                  display: flex;
                  align-items: center;
                  justify-content: start;
    
                  @include media-breakpoint-down(md){
                    flex-direction: column;
                  }
    
                  .carrinho__produto__img{
                    position: relative;
                    text-align: center;
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 0;
    
                    @include media-breakpoint-up(lg){
                      margin-left: 0;
                      margin-right: 20px;
                    }
    
                    &:before{
                      content: '';
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      background-color: rgba(#4F0074,.4);
                      opacity: 0;
                    }
                  }
    
                  .carrinho__produto__desc{
                    font-family: MontserratExtraBold;
                    color: #000000;
                    font-size: 16px;
                    line-height: 18px;
    
                    @include media-breakpoint-down(md){
                      margin-top: 10px;
                      text-align: center;
                    }
                  }
    
                  &:hover{
                    text-decoration: none;
                    transition: all .3s linear;
    
                    .carrinho__produto__img{
                      &:before{
                        opacity: 1;
                      }
                    }
    
                    .carrinho__produto__desc{
                      color: #4F0074;
                    }
                  }
                }
              }
    
              .carrinho__quantidade{
                @include media-breakpoint-up(lg) {
                  width: 16%;
                }
    
                @include media-breakpoint-only(lg){
                  width: 20%;
                }
    
                .segura__quantidade{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  text-align: center;
                  font-size: 13px;
                  text-transform: uppercase;
                  font-family: MontserratBold;
                  color: #000000;
    
                  @include media-breakpoint-up(lg){
                    p{
                      display: none;
                    }
                  }
    
                  @include media-breakpoint-down(md){
                    margin-top: 20px;
                  }
    
                  .qtde-toggler{
                    display: flex;
                    max-width: 160px;
                    margin-right: auto;
                    margin-left: auto;
                    justify-content: center;
                    align-items: center;
                    position: relative;
    
                    &:after{
                      content: "";
                      width: 105px;
                      height: 2px;
                      border-radius: 30px;
                      background: #4F0074;
                      position: absolute;
                      bottom: 0;
                      z-index: -1;
                    }
    
                    &:before{
                      content: "";
                      width: 105px;
                      height: 2px;
                      background: #4F0074;
                      border-radius: 30px;
                      position: absolute;
                      top: 0;
                      z-index: -1;
                    }
    
                    .input-group-append{
                      width: 30%;
                      border: none;
                    }
                    .input__qtd{
                      width: 37%;
                      height: 30px;
                      text-align: center;
                      margin-left: 1px;
                      margin-right: 1px;
                      border: none;
                      font-family: MontserratBold;
                      font-size: 16px;
                      outline: none;
                    }
                  }
    
                  .btn__quantidade{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #4F0074;
                    color: #FFF;
                    border: 2px solid #4F0074;
                    transition: all .4s linear;
                    font-size: 25px;
    
                    &:hover {
                      background: rgb(245, 134, 52);
                      background: linear-gradient(0deg, rgba(245, 134, 52, 1) 0%, rgba(254, 201, 37, 1) 100%);
                      border: none;
                    }
    
                    &:focus{
                      outline: none;
                    }
                  }
                }
              }
    
              .carrinho__excluir{
                display: flex;
                align-items: center;
                justify-content: end;
    
                @include media-breakpoint-down(md){
                  margin-top: 20px;
                }
    
                @include media-breakpoint-up(lg) {
                  width: 32%;
                }
    
                @include media-breakpoint-only(lg){
                  width: 28%;
                }
    
                .btn__remover{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  min-width: 160px;
                  height: 50px;
                  padding: 20px;
                  border-radius: 30px;
                  color: #FFF;
                  background-color: #4F0074;
                  border: none;
                  font-family: Righteous;
                  font-size: 20px;
                  line-height: 20px;
    
                  &:hover{
                    text-decoration: none;
                    animation: swing 3s linear;
                  }
                }
              }
            }
          }
        }
    }

    .button__style {
        background-color: #4f0074;
        border: 1px solid #4f0074;
        border-radius: 30px;
        color: white;
        display: inline-block;
        height: auto;
        width: auto;
        padding: 10px 20px;
    }
}