.button {
    background-color: #4f0074;
    border: 1px solid #4f0074;
    border-radius: 30px;
    color: white;
    display: inline-block;
    height: auto;
    width: auto;
    padding: 10px 20px;
}