#duvidas-frequentes{
  padding: 100px 0;

  .accordion{
    margin-top: 50px;
  }

  .accordion-item{
    border: none;
    margin-bottom: 20px;

    .accordion-header{
      display: inline-block;

      @include media-breakpoint-up(lg){
        min-width: 900px;
      }

      .accordion-button{
        background-color: #004C93;
        border-radius: 20px 20px 0 0;
        color: #FFF;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 18px;
        line-height: 20px;

        &:after{
          content: '-';
          background-image: none;
          width: auto;
          height: auto;
          font-size: 25px;
        }

        &.collapsed{
          &:after{
            content: '+';
            background-image: none;
            width: auto;
            height: auto;
            font-size: 25px;
          }
        }
      }
    }

    .accordion-collapse{
      border: 3px solid #004C93;
      border-radius: 0 0 30px 30px;

      .accordion-body{

      }
    }
  }

  .box__whatsapp{
    margin-top: 70px;
    padding-top: 50px;
    border-top: 7px solid rgba(#939393,.2);

    .title__whats{
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 30px;
      line-height: 34px;
      text-align: center;
      color: #000;
      font-weight: bold;
    }

    .btn__duvida__whatsapp{
      margin-top: 40px;

      a{
        display: flex;
        align-items: center;
      justify-content: center;
        text-decoration: none;
        i{
          position: relative;
          left: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: #009721;
          border: 6px solid #FFF;
          color: #FFF;
          font-size: 60px;
        }

        span{
          background-color: #009721;
          border-radius: 0 50px 50px 0;
          color: #FFF;
          text-align: center;
          font-family: 'Plus Jakarta Sans', sans-serif;
          font-size: 25px;
          line-height: 25px;
          padding: 20px 40px 20px 50px;
        }
      }
    }
  }
}