.seguraBanner{
    position: relative;

    #redesSociais{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        left: 190px;
        background-color: #FFF;
        border-radius: 40px;
        padding: 15px 10px;

        .style__rede{
            margin: 8px 0;
        }
    }

    .carousel-indicators{
        justify-content: end;
        margin-bottom: 2em;

        .indicatorItem{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #FFF;
            background-color: transparent;
            opacity: 1;

            &.active{
                background-color: #FFF;
            }
        }
    }
}

#secaoChamadas{
    padding-top: 50px;
   padding-bottom: 50px;
    border-bottom: 8px solid rgba(#6B6B6B,.2);

    .card__chamada{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        .chamada__icone{
            margin-right: 15px;
        }

        .chamada__texto{
            color: #000000;
            font-size: 40px;
            font-family: 'Plus Jakarta Sans', sans-serif;
        }

        &:hover{
            text-decoration: none;
        }
    }
}