.imagens{
    max-width: 300px;
    margin-top: 0px;

}
.text{
    text-align: justify;
}
h3{
    color: #012845;
    font-weight: bold;
}
.hrprincipal{
    color: #012845;
    border: 1px solid #012845;
    padding-top: 50px;
}
.img{
    width: 150px;
    height: 150px;
    position: relative;
    left: 50px;
}
.text{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.titulo{
    color: #012845;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -2px;
}
.flashcards{
    background-color: aqua;
}
h1{
    color: #012845;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}
h5{
    color: #012845;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
    left: 70px;
}
