#onde-estamos{
    padding: 100px 0;

    .btn__style{
        min-width: 150px;
    }

    .row{
        align-items: center;
        margin-top: 50px;
    }

    .map__style{
        display:block;
        margin: auto;
    }

    .title__style{
        margin: 30px,0;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: bold;
        color: #004C93;
        font-size: 34px;
        line-height: 38px;
    }

    .icons__style{
        .info__style{
            display: flex;
            align-items: center;
            justify-content: start;
            margin-bottom: 20px;

            .links{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                margin-left: 15px;

                a{
                    font-family: 'Plus Jakarta Sans', sans-serif;
                    font-size: 20px;
                    line-height: 20px;
                    color: #000;
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .btn__center{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
}