$branco: white;

body{
    margin: 0px;
    padding: 0px;

        .container{
            background-color: $branco;
            border-left: solid;
            border-right: solid;
            border-color: #ebebeb;
          .row{
            background-color: $branco
          }
            .col-texto{
              background-color: $branco;                  
              color:#000000;
                                text-decoration:none;
                                font-size: 20px;
                                font-family:Arial, Helvetica, sans-serif;
                                font-weight:100;
                                padding-left: 70px;
                                padding-right: 100px;
                                text-align: justify;
                                width:750px;
                                float: left;
                                line-height: 1.5em;
    
                              }
                              .img-fluid{
                                width: 80%;
                                height: auto;
                                align-items: center;
                                position: relative;
                                margin-top: 10%;
                              }
                  .nav-item-bianca{
                    background-color: #6fbaff;
                    border-radius: 20px 20px 0px 0px;
                    line-height: 40px;
                    padding: 0 20px;
                    float: left;
                    color: #fff;
                    transition: background ease-in-out .3s;
                    position: relative;
                    left: 70px;
                  }
                  .tab-content{
                      width: 90%;
                        border-style: solid;
                        border-color: #2063a0;
                        border-radius: 0px 0px 20px 20px;
                        font-size: 20px;
                        line-height: 1.5em;
                        font-family:Arial, Helvetica, sans-serif;
                        position: relative;
                        left: 70px;

                  }
                  
                  
          }
          .btn-b{
            text-decoration:none;
            background-color: #4f0074;
            position: relative;
            left: 45%;
            border-radius: 60PX;
            padding: 12px 28px;
            border: #4f0074;
            margin-left: auto;
            margin-right: auto;
          }   
        }



