#quem-somos{
  padding: 100px 0;

  .row{
    align-items: center;
    margin-top: 30px;

    .text__style{
      text-align: justify;
      
    }
  }

  .btn__center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .btn__style{
      min-width: 150px;
    }
  }

  .margin__style{
    margin-top: 50px;
  }

  .nav__estilo{
    .nav-link{
      background-color: rgba(#004C93, .8);
      color: #FFF;
      border-radius: 20px 20px 0 0;

      &.active{
        background-color: #004C93;
      }
    }
  }

  .posit__nav{
    .tab-pane{
      border: 3px solid #004C93;
      border-radius: 0 0 30px 30px;
      padding: 30px;
    }
  }

  /*.margin__style{
    margin-top: 10px;
  }

  .navegador{            
      .nav{ 
        background-color: #fff;
        border-radius: 50px 0px 0px 0px;
        line-height: 40px;
        padding: 0 20px;
        float: left;
    
        transition: background ease-in-out .3s;
        position: relative;
        left: 70px;
      }
  }
  .tab-pane {
    font-family: 'Plus Jakarta Sans', sans-serif;
    
    margin: 15px;
  }
  .posit__nav{
    width: 85%;
    border-style: solid;
    border-color: #3370a8;
    border-radius: 0px 0px 20px 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    position: relative;
    left: 7.5%;
  }

  .nav__estilo{
    background-color: #3370a8;;
    position: relative;
    left: 10%;
    border-radius:10px 10px 0px 0px ;
    position: relative;
    left: 7.5%;
    top: 100%;
  }*/
}